In [1]:
import pandas as pd
import numpy as np

filename = "../data/infosys/infosys_data.csv"
df = pd.read_csv(filename)
df.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1996-01-01  0.794921  0.796679  0.791015  0.796679   0.549483  204800.0
1  1996-01-02  0.794921  0.798828  0.793457  0.793457   0.547260  204800.0
2  1996-01-03  0.798828  0.798828  0.798828  0.798828   0.550965  102400.0
3  1996-01-04  0.791015  0.794921  0.791015  0.793554   0.547327  307200.0
4  1996-01-05  0.784179  0.784179  0.784179  0.784179   0.540861   51200.0

In [5]:
# cols = ["Adj Close"]
# df.drop(columns=columns,inplace=True)
# df = df.rename(columns = {"TOTTRDQTY":"Total Traded Quantity","TOTTRDVAL":"Total Traded Value","HIGH":"High","LOW":"Low","OPEN":"Open Price","CLOSE":"Close Price","SYMBOL":"Symbol","TIMESTAMP":"Date"})
# df = df.rename(columns = {"Open":"Open Price","Close":"Close Price","SYMBOL":"Symbol","TIMESTAMP":"Date","Volume":"Total Traded Quantity"})
# cols = ["WAP","No. of Trades","Total Turnover (Rs.)","Deliverable Quantity","% Deli. Qty to Traded Qty","Spread High-Low","Spread Close-Open"]
# df.drop(columns=cols,inplace=True)
df = df.rename(columns = {"Open":"Open Price","Close":"Close Price","Volume":"Total Traded Quantity"})
df.head()

,Date,Open Price,High,Low,Close Price,Total Traded Quantity
0,1996-01-01,0.794921,0.796679,0.791015,0.796679,204800.0
1,1996-01-02,0.794921,0.798828,0.793457,0.793457,204800.0
2,1996-01-03,0.798828,0.798828,0.798828,0.798828,102400.0
3,1996-01-04,0.791015,0.794921,0.791015,0.793554,307200.0
4,1996-01-05,0.784179,0.784179,0.784179,0.784179,51200.0

The data is now ready to be passed into the technical indicator script

In [6]:
df.to_csv("../data/infosys/infosys_data_usable.csv", index=False)