In [3]:
import pandas as pd
import numpy as np

filename = "../data/HDFC_data.csv"
df = pd.read_csv(filename)
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,HDFC,EQ,2418.00,2438.50,2409.0,2433.95,2435.75,2412.55,945874,2.294534e+09,01-Jan-20,29500
1,HDFC,EQ,2430.00,2472.75,2422.0,2466.40,2469.90,2433.95,1701396,4.169605e+09,02-Jan-20,74760
2,HDFC,EQ,2455.00,2466.40,2441.8,2454.45,2452.05,2466.40,1963923,4.815298e+09,03-Jan-20,92333
3,HDFC,EQ,2428.00,2445.00,2371.4,2384.10,2389.95,2454.45,2656731,6.365761e+09,06-Jan-20,100147
4,HDFC,EQ,2401.25,2428.80,2380.2,2415.05,2420.00,2384.10,3771992,9.078865e+09,07-Jan-20,127128

In [16]:
# columns = ["SERIES","PREVCLOSE","TOTALTRADES","LAST"]
# df.drop(columns=columns,inplace=True)
df = df.rename(columns = {"TOTTRDQTY":"Total Traded Quantity","TOTTRDVAL":"Total Traded Value","HIGH":"High","LOW":"Low","OPEN":"Open Price","CLOSE":"Close Price","SYMBOL":"Symbol","TIMESTAMP":"Date"})
df['Average Trading Price'] = df['Total Traded Value']/df['Total Traded Quantity']
df.head()

,Symbol,Open Price,High,Low,Close Price,Total Traded Quantity,Total Traded Value,Average Trading Price
0,HDFC,2418.00,2438.50,2409.0,2433.95,945874,2.294534e+09,2425.834653
1,HDFC,2430.00,2472.75,2422.0,2466.40,1701396,4.169605e+09,2450.696553
2,HDFC,2455.00,2466.40,2441.8,2454.45,1963923,4.815298e+09,2451.877371
3,HDFC,2428.00,2445.00,2371.4,2384.10,2656731,6.365761e+09,2396.087914
4,HDFC,2401.25,2428.80,2380.2,2415.05,3771992,9.078865e+09,2406.915132

The data is now ready to be passed into the technical indicator script

In [17]:
df.to_csv("../data/hdfc_usable.csv", index=False)