In [1]:
import pandas as pd
import numpy as np

filename = "../data/axis_bank.csv"
df = pd.read_csv(filename)
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,05-Dec-00,8.69,8.90,8.60,8.87,44.047185,74876,413,3298077,NaN,NaN,1.50,0.90
1,06-Dec-00,8.98,9.02,8.80,8.95,44.667689,61325,366,2739246,NaN,NaN,1.10,-0.15
2,07-Dec-00,8.92,9.08,8.92,8.94,45.005536,25832,214,1162583,NaN,NaN,0.80,0.10
3,08-Dec-00,9.05,9.30,8.93,9.10,45.553565,67535,294,3076460,NaN,NaN,1.85,0.25
4,11-Dec-00,9.22,9.82,9.22,9.82,48.968056,131575,326,6442972,NaN,NaN,3.00,3.00

In [11]:
# columns = ["Adj Close"]
# df.drop(columns=columns,inplace=True)
# df = df.rename(columns = {"TOTTRDQTY":"Total Traded Quantity","TOTTRDVAL":"Total Traded Value","HIGH":"High","LOW":"Low","OPEN":"Open Price","CLOSE":"Close Price","SYMBOL":"Symbol","TIMESTAMP":"Date"})
# df = df.rename(columns = {"Open":"Open Price","Close":"Close Price","SYMBOL":"Symbol","TIMESTAMP":"Date","Volume":"Total Traded Quantity"})
# cols = ["WAP","No. of Trades","Total Turnover (Rs.)","Deliverable Quantity","% Deli. Qty to Traded Qty","Spread High-Low","Spread Close-Open"]
# df.drop(columns=cols,inplace=True)
df = df.rename(columns = {"High Price":"High","Low Price":"Low","Volume":"Total Traded Quantity",})
df.head()

        Date  Open Price  High   Low  Close Price  Total Traded Quantity
0  05-Dec-00        8.69  8.90  8.60         8.87                  74876
1  06-Dec-00        8.98  9.02  8.80         8.95                  61325
2  07-Dec-00        8.92  9.08  8.92         8.94                  25832
3  08-Dec-00        9.05  9.30  8.93         9.10                  67535
4  11-Dec-00        9.22  9.82  9.22         9.82                 131575

The data is now ready to be passed into the technical indicator script

In [7]:
df.to_csv("../data/hyundai_usable.csv", index=False)