### All imports to be managed here

In [5]:
import pandas as pd
import numpy as np

from NSEDownload import stocks

### Creating a function to streamline the process

In [6]:
def create_df(stock_code:str) -> pd.DataFrame:
    """
    This function is responsible for creating the dataframe, based on the Symbol, it will create weekly data.
    """
    df = stocks.get_data(stock_symbol=stock_code, start_date='1-06-2023', end_date='7-06-2023')
    symbol = df['Symbol'].to_numpy()[0]
    high = np.max(df["High Price"].to_numpy())
    low = np.min(df["Low Price"].to_numpy())
    open_price = df['Open Price'].to_numpy()[0]
    close_price = df['Close Price'].to_numpy()[-1]
    total_quantity = np.sum(df["Total Traded Quantity"].to_numpy())
    total_val = np.sum(df["Total Traded Value"].to_numpy())
    average_trading_value = round((total_val / total_quantity),2)
    _52_week_low = df['52 Week Low Price'].to_numpy()[0] 
    _52_week_high = df['52 Week High Price'].to_numpy()[0] 
    data = [symbol,high,low,open_price,close_price,average_trading_value,_52_week_low,_52_week_high]
    cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price","52 Week Low","52 Week High"]
    main_df = pd.DataFrame(columns=cols)
    main_df.loc[0] = data
    return main_df

In [12]:
def append_weekly_rows(stock_code:str,df1:pd.DataFrame,count:int,row:int,month:int,num_weeks:int) -> None:
    """normal
    Appends the weekly data to the original dataframe for upto 4 weeks,
    #########
    TODO: implement the monthly change to make it more than 4 weeks
    #########initial Commit
    """
    while num_weeks > 0:
        df2 = stocks.get_data(stock_symbol=stock_code, start_date=f'{count}-{month}-2023', end_date=f'{count+6}-{month}-2023')
        symbol = df2['Symbol'].to_numpy()[0]
        high = np.max(df2["High Price"].to_numpy())
        low = np.min(df2["Low Price"].to_numpy())
        open_price = df2['Open Price'].to_numpy()[0]
        close_price = df2['Close Price'].to_numpy()[-1]
        total_quantity = np.sum(df2["Total Traded Quantity"].to_numpy())
        total_val = np.sum(df2["Total Traded Value"].to_numpy())
        average_trading_value = round((total_val / total_quantity),2)
        _52_week_low = df2['52 Week Low Price'].to_numpy()[0] 
        _52_week_high = df2['52 Week High Price'].to_numpy()[0] 
        data = [symbol,high,low,open_price,close_price,average_trading_value,_52_week_low,_52_week_high]
        cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price","52 Week Low","52 Week High"]
        df1.loc[row] = data
        row += 1
        count += 7
        if count >= 28:
            count = 1
            month += 1
        num_weeks -= 1

In [13]:
symbol = "RELIANCE"
df = create_df(symbol)
append_weekly_rows(symbol,df,1,1,1,35)
# df.set_index(inplace=True)
df.head()

,Symbol,High,Low,Open Price,Close Price,Average Trading Price,52 Week Low,52 Week High
0,RELIANCE,2537.7,2326.00,2377.00,2498.15,2442.45,2180.0,2856.15
1,RELIANCE,2755.0,2492.25,2606.75,2536.90,2619.26,2180.0,2856.15
2,RELIANCE,2755.0,2434.60,2589.00,2467.60,2604.60,2180.0,2856.15
3,RELIANCE,2748.0,2427.00,2730.00,2442.65,2556.57,2180.0,2856.15
4,RELIANCE,2660.0,2311.65,2646.00,2337.35,2508.80,2180.0,2856.15

### Removing all null values and duplicates as this could cause issues later on

In [14]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.describe()

,High,Low,Open Price,Close Price,Average Trading Price,52 Week Low,52 Week High
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,2623.162857,2341.425714,2477.860000,2459.878571,2467.744286,2196.368571,2824.998571
std,152.585981,109.150898,134.242558,110.579504,114.346879,67.463693,58.785130
min,2424.600000,2180.000000,2215.000000,2248.000000,2300.770000,2180.000000,2630.950000
25%,2500.300000,2281.025000,2377.500000,2366.800000,2370.945000,2180.000000,2817.350000
50%,2584.000000,2326.000000,2475.000000,2484.350000,2464.220000,2180.000000,2856.150000
75%,2755.000000,2454.525000,2554.025000,2536.450000,2570.550000,2180.000000,2856.150000
max,2856.000000,2492.250000,2830.000000,2740.700000,2628.490000,2469.300000,2856.150000

In [15]:
print(f'The total entries in the data are {len(df)}')

The total entries in the data are 35

In [16]:
df.value_counts()

Symbol    High     Low      Open Price  Close Price  Average Trading Price  52 Week Low  52 Week High
RELIANCE  2424.60  2180.00  2378.00     2355.50      2301.70                2180.0       2856.15         1
          2755.00  2492.25  2606.75     2536.90      2619.26                2180.0       2856.15         1
          2606.00  2293.00  2550.00     2434.10      2411.27                2180.0       2856.15         1
          2633.00  2293.00  2581.00     2305.90      2443.22                2180.0       2856.15         1
          2660.00  2311.65  2646.00     2337.35      2508.80                2180.0       2856.15         1
          2664.95  2416.05  2449.55     2633.60      2519.13                2180.0       2817.35         1
          2748.00  2427.00  2730.00     2442.65      2556.57                2180.0       2856.15         1
          2755.00  2434.60  2589.00     2467.60      2604.60                2180.0       2856.15         1
          2802.00  2416.05  2433.90     2740.70      2576.86                2180.0       2817.35         1
          2606.00  2293.00  2514.75     2378.10      2417.23                2180.0       2856.15         1
          2856.00  2451.00  2480.15     2538.75      2627.32                2180.0       2817.35         1
                   2458.05  2507.00     2536.45      2618.27                2180.0       2755.00         1
                            2558.05     2536.45      2626.77                2180.0       2755.00         1
                            2584.00     2523.85      2620.97                2180.0       2755.00         1
                            2688.90     2536.45      2628.49                2180.0       2756.00         1
                            2830.00     2536.45      2564.24                2180.0       2856.00         1
          2606.00  2293.00  2545.30     2322.55      2396.24                2180.0       2856.15         1
          2584.00  2416.05  2475.00     2529.50      2496.75                2180.0       2817.35         1
          2424.95  2180.00  2337.00     2349.00      2300.77                2180.0       2856.15         1
          2491.10  2293.00  2472.70     2408.70      2378.50                2180.0       2856.15         1
          2424.95  2180.00  2416.00     2420.50      2301.15                2180.0       2856.15         1
          2461.35  2180.00  2215.00     2441.75      2322.16                2180.0       2856.15         1
          2463.80  2180.00  2315.00     2248.00      2324.42                2180.0       2856.15         1
                            2331.70     2269.70      2335.57                2180.0       2856.15         1
                            2449.45     2341.45      2312.74                2180.0       2856.15         1
          2466.20  2269.05  2449.00     2275.95      2363.39                2180.0       2856.15         1
          2509.50  2200.20  2217.50     2484.35      2359.93                2180.0       2856.15         1
          2584.00  2413.05  2436.20     2564.30      2487.86                2180.0       2817.35         1
          2509.50  2308.55  2345.00     2441.95      2392.76                2180.0       2856.15         1
                   2321.55  2350.00     2506.50      2409.75                2180.0       2856.15         1
          2537.70  2326.00  2377.00     2498.15      2442.45                2180.0       2856.15         1
          2550.00  2458.05  2509.20     2536.45      2502.92                2463.6       2630.95         1
          2555.00  2350.50  2366.00     2551.85      2464.22                2180.0       2856.15         1
          2559.00  2458.05  2485.00     2536.45      2511.00                2469.3       2630.95         1
          2856.00  2465.00  2506.00     2527.85      2623.77                2180.0       2814.00         1
Name: count, dtype: int64

In [18]:

def SMA(data:pd.DataFrame, ndays:int): 
    """
    Function to find the Simple Moving Average. Since this data is weekly, this variable can be updated on a weekly basis, i.e. 
    the data of each week is used to compute the average
    """
    SMA = pd.Series(data['Close Price'].rolling(ndays).mean(), name = 'SMA') 
    data = data.join(SMA) 
    return data

n = 1
SMA = SMA(df,n)
df = SMA
df

,Symbol,High,Low,Open Price,Close Price,Average Trading Price,52 Week Low,52 Week High,SMA
0,RELIANCE,2537.70,2326.00,2377.00,2498.15,2442.45,2180.0,2856.15,2498.15
1,RELIANCE,2755.00,2492.25,2606.75,2536.90,2619.26,2180.0,2856.15,2536.90
2,RELIANCE,2755.00,2434.60,2589.00,2467.60,2604.60,2180.0,2856.15,2467.60
3,RELIANCE,2748.00,2427.00,2730.00,2442.65,2556.57,2180.0,2856.15,2442.65
4,RELIANCE,2660.00,2311.65,2646.00,2337.35,2508.80,2180.0,2856.15,2337.35
5,RELIANCE,2633.00,2293.00,2581.00,2305.90,2443.22,2180.0,2856.15,2305.90
6,RELIANCE,2606.00,2293.00,2514.75,2378.10,2417.23,2180.0,2856.15,2378.10
7,RELIANCE,2606.00,2293.00,2550.00,2434.10,2411.27,2180.0,2856.15,2434.10
8,RELIANCE,2606.00,2293.00,2545.30,2322.55,2396.24,2180.0,2856.15,2322.55
9,RELIANCE,2491.10,2293.00,2472.70,2408.70,2378.50,2180.0,2856.15,2408.70
10,RELIANCE,2466.20,2269.05,2449.00,2275.95,2363.39,2180.0,2856.15,2275.95
11,RELIANCE,2463.80,2180.00,2331.70,2269.70,2335.57,2180.0,2856.15,2269.70
12,RELIANCE,2463.80,2180.00,2315.00,2248.00,2324.42,2180.0,2856.15,2248.00
13,RELIANCE,2463.80,2180.00,2449.45,2341.45,2312.74,2180.0,2856.15,2341.45
14,RELIANCE,2424.60,2180.00,2378.00,2355.50,2301.70,2180.0,2856.15,2355.50
15,RELIANCE,2424.95,2180.00,2337.00,2349.00,2300.77,2180.0,2856.15,2349.00
16,RELIANCE,2424.95,2180.00,2416.00,2420.50,2301.15,2180.0,2856.15,2420.50
17,RELIANCE,2461.35,2180.00,2215.00,2441.75,2322.16,2180.0,2856.15,2441.75
18,RELIANCE,2509.50,2200.20,2217.50,2484.35,2359.93,2180.0,2856.15,2484.35
19,RELIANCE,2509.50,2308.55,2345.00,2441.95,2392.76,2180.0,2856.15,2441.95
20,RELIANCE,2509.50,2321.55,2350.00,2506.50,2409.75,2180.0,2856.15,2506.50
22,RELIANCE,2555.00,2350.50,2366.00,2551.85,2464.22,2180.0,2856.15,2551.85
23,RELIANCE,2584.00,2413.05,2436.20,2564.30,2487.86,2180.0,2817.35,2564.30
24,RELIANCE,2584.00,2416.05,2475.00,2529.50,2496.75,2180.0,2817.35,2529.50
25,RELIANCE,2664.95,2416.05,2449.55,2633.60,2519.13,2180.0,2817.35,2633.60
26,RELIANCE,2802.00,2416.05,2433.90,2740.70,2576.86,2180.0,2817.35,2740.70
27,RELIANCE,2856.00,2451.00,2480.15,2538.75,2627.32,2180.0,2817.35,2538.75
28,RELIANCE,2856.00,2465.00,2506.00,2527.85,2623.77,2180.0,2814.00,2527.85
29,RELIANCE,2856.00,2458.05,2584.00,2523.85,2620.97,2180.0,2755.00,2523.85
30,RELIANCE,2856.00,2458.05,2507.00,2536.45,2618.27,2180.0,2755.00,2536.45
31,RELIANCE,2856.00,2458.05,2558.05,2536.45,2626.77,2180.0,2755.00,2536.45
32,RELIANCE,2856.00,2458.05,2688.90,2536.45,2628.49,2180.0,2756.00,2536.45
33,RELIANCE,2856.00,2458.05,2830.00,2536.45,2564.24,2180.0,2856.00,2536.45
34,RELIANCE,2559.00,2458.05,2485.00,2536.45,2511.00,2469.3,2630.95,2536.45
35,RELIANCE,2550.00,2458.05,2509.20,2536.45,2502.92,2463.6,2630.95,2536.45

In [19]:
df.head()

,Symbol,High,Low,Open Price,Close Price,Average Trading Price,52 Week Low,52 Week High,SMA
0,RELIANCE,2537.7,2326.00,2377.00,2498.15,2442.45,2180.0,2856.15,2498.15
1,RELIANCE,2755.0,2492.25,2606.75,2536.90,2619.26,2180.0,2856.15,2536.90
2,RELIANCE,2755.0,2434.60,2589.00,2467.60,2604.60,2180.0,2856.15,2467.60
3,RELIANCE,2748.0,2427.00,2730.00,2442.65,2556.57,2180.0,2856.15,2442.65
4,RELIANCE,2660.0,2311.65,2646.00,2337.35,2508.80,2180.0,2856.15,2337.35